<!DOCTYPE html>
<html>
    <head>
        <title>Application Submitted</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        {% include 'banner.html' %}

        <div class="container">
            <h1 class="text-center mt-2 mb-4">Kolkars' Careeres</h1>

            <p>Your Application for the role of "{{job['title']}}" has been Submitted</p>

            <h4 class="mb-0">Full Name</h4>
            <div class="mb-4">{{application['full_name']}}</div>

            <h4 class="mb-0">Email</h4>
            <div class="mb-4">{{application['email']}}</div>

            <h4 class="mb-0">LinkedIn URL</h4>
            <div class="mb-4">{{application['linked_in']}}</div>

            <h4 class="mb-0">Education</h4>
            <div class="mb-4">{{application['Education']}}</div>

            <h4 class="mb-0">Work Experience</h4>
            <div class="mb-4">{{application['w_exp']}}</div>

            <h4 class="mb-0">Resume UR</h4>
            <div class="mb-4">{{application['resume_url']}}</div>
    </div>

        {% include 'footer.html' %}
    </body>
</html>