<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <style>
            #banner {
                height: 360px;
                width: 100%;
                object-fit: cover;
                margin-bottom: 16px;
            }
        </style>
    </head>
    <body>
        {% include 'nav.html' %}
        <img class="img-fluid" id="banner" src="static\johannes-mandle-r_FNlKOxxos-unsplash.jpg" >
        <div class="container">
            <h1 class="text-center mt-2 mb-4">Kolkars' Careeres</h1>
            
            <h2 class="text-center mt-2 mb-4">
                About Kolkars
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <p class="lead">
                        Learn how to develop Dynamic Database-Driven Web Apps with Python, Flask, and MySQL. This course is broken up into two parts. In part one, you will learn how to build and deploy a site using the Flask Python web framework. In part two, you will connect the Flask application from the first part to a cloud MySQL database and learn how to deploy a production-ready database-driven web application.            
                    </p>
                </div>

                <div class="d-none d-md-block col-md-6">
                    <img src="/static/dylan-gillis-KdeqA3aTnBY-unsplash.jpg" alt="" height="320px">
                </div>
            </div>

            <h2 class="text-center mt-2 mb-4">
                Open positions
            </h2>

            <div>
                {% for job in jobs %}
                    {% include 'jobitem.html' %}
                {% endfor %}
            </div>

            <div class="text-center mt-2 mb-4">
                <button class="btn btn-outline btn-lg">
                    Contact us
                </button>
            </div>
        </div>
        <div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>